body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 60px;
}

.pink-highlight{
    font-family: 'Poppins', sans-serif;
    color:#EC4C7A;
    font-size: 80px;
    font-weight: 800;
}
p{
    color: #707070;
    font-size: 20px;
}

.half-width{
    width:40%;
    float:left;
    margin-left: 6%;
}

img{
    padding-top: 150px;
    width: 90%;
}

#naming-part{
    padding-left: 8%;
    padding-top: 300px;
}

.header-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 1000px;
    zoom: 85%;
}

.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, #EC5197, #EC4C7A);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    display: inline-block; /* The <a> tag is an inline element and therefore cannot have a top or bottom margin. But you can solve this by applying display: inline-block; to it. */
    margin-top: 20px;
}

.link-button:hover{
    background: #FF1A73;
}

#Biography-banner{
    background-image: url("images/biography-bg.png");
    height: 1100px;
    zoom: 85%;
}

#bio {
    padding-top: 250px ;
}

h2{
    font-size: 40px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif
}

.one-third{
    width: 30%;
    float:left;
    margin-left: 2%;
    padding-left: 1%;
    transition: .3s;
}

.one-third:hover{
    transform: scale(1.1);
}

#latest-work{
    background-image: url("images/latest-work-bg.png");
    height: 800px;
    background-position: right;
}

#contact-box{
    padding: 20px;
    background: linear-gradient(45deg, #EC5197, #EC4C7A);
    width: 40%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.footer{
    background-image: url("images/footer-bg.png");
    height: 900px;
    background-position: left;
    zoom: 80%;
}